*,
*::before,
*::after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p
{
	margin: 0;
	padding: 0;
}
ul,ol,li{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.text {
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}
.link {
	text-decoration: none;
    }
.title {
	color: var(--title-text-color);
	font-weight: 500;
	letter-spacing: 0.02em;
    }

:root {
    --primary-text-color:#434455;;
    --title-text-color:#2E2F42;
   --accent-color:#18a0fb;
   --primary-white-color:#ffffff;
   --link-color: #4D5AE5;
   --secondary-bg-color:#F4F4FD;
   --sibtitle-bg-color: #E7E9FC;
   --helper-text-color: #8e8f99;
    --card-gap: 24px;
        }
body{
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif,'Verdana';
    font-size: 16px;
    /* margin: 0;
    padding: 0; */
     }
     
        .conteiner {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 1158px;
            padding: 0 15px 0 15px;
            margin: 0 auto;
            }
       
       .logo {
        color: var(--link-color);
        font-family: "Raleway",sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none; 
        margin-right: 77px;
        padding: 24px 0;
            } 

    .section{
        padding: 120px 0 120px 0;
    }
       .conteiner > .logostudio {
        color: var(--title-text-color);
          }
.logoweb { 
     color: var(- logo-link-color); 
     text-decoration: none;
        } 
 .logostudio{
    color: var(--primary-text-color);
    text-decoration: none;
 }
.link {
    color: var(--primary-text-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
}
.nav-link:hover,.nav-link:focus {color: var(--link-color)} 

 .menu-nav {
    margin-left: auto;
     }
     .site-nav .list {
        list-style: none;
           }
     
    .site-nav li{
        outline 1px tomato;
        margin-left: 40;
    }
 .nav-link{
    color:var(--primary-text-color);
    font-weight: 700;
    text-decoration: none;
   line-height: 1.5;
   letter-spacing: 0.2em;
    padding: 24px 0;
 }
 .site-nav-list .list{
    list-style: none;
    display: flex;
    /* margin-left: auto; */
 }
.site-nav .nav-list:not(:last-child)
{margin-right: 40px;
}
.site-nav-list .nav-link{
    /* display: block; */
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
}
.site-nav-item:last-child {
    margin-right : 0 px;
}
.info-list{
    margin-left: auto;
}
.hero {
    padding: 192px 0;
    background-color: var(--primary-text-color);
    text-align: center;}
  .title{
    font-weight: 500; 
    color: var(--title-text-color);
  }
.hero-title{ 
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
letter-spacing: 0.02em;
color: var(--primary-white-color);
margin: 0 auto;
width: 496px;
margin-bottom: 48px;
    }

.button-order {
    color: var(--primary-white-color);
        background-color: var(--link-color);  
        font-family: inherit;
        font-weight: 500;
        line-height:1.19;
        letter-spacing: 0.04em;
         cursor: pointer;
         border-style: none;
         border-radius: 4px;
         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
         padding: 16px 32px;
        text-align: center;
         gap: 10px;
        }
.button:hover, .button:focus {color: var(--primary-white-color);
background-color: var(--link-color);}
.button:active {background-color: #404BBF;

}

.hidden-title {position: fixed;
    transform: scale(0);
}
.section-feature {
       padding: 120px 0 120px 0;

}   
.section-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
color: var(--primary-text-color);
margin-bottom: 8px;
}

.feature-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:calc(-1*var(--card-gap));
}
.list-title {
    margin-bottom: 8px;
    font-size: 36px;font-weight: 600;
    line-height: 1.11;

    }

.feature-list>.item {
    flex-basis: calc(100%/4 -var(--card-gap));
   margin-left:var(--card-gap);
   }
    .description {
        font-size: 20px;
    }


 /* Section Images */

.img-section {
    padding-bottom: 120px;
}

.work-title {
    margin: 0 auto;
font-size: 36px;
line-height: 1.1;
text-transform: capitalize;
color: var(--title-text-color);
margin-bottom: 72px;
}
.work-list {
    display: flex;
    flex-wrap: wrap;
  list-style: none ;
 margin-left:calc(-1 * var(--card-gap));
}

.work-list >item{
       width: 360px;
    margin-left:  var(--card-gap);
}
.work-list-item:last-child {margin-left: var(--card-gap);
}
.team {
    background-color: #F4F4FD;
}


.our-team-title{
font-size: 36px;
line-height: 1.1;
text-align: center;
text-transform: capitalize;
letter-spacing: 0.02em;
color: var(--title-text-color);
margin-bottom: 72px;
}
  .team-item{
    background-color: var(--primary-white-color);
    width: 264px;
    text-align: center;
    margin-right: var(--card-gap);
  }
  .team-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}


.team-item:last-child {
    margin-right: 0px;
}

.person-card-content{
    padding: 32px 16px;
}


.person-name-heading{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}

.person-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

 .names {
        background-color: var(--primary-white-color);
     text-align: center;
}

/* Footer */
.footerweb { color:var(--primary-text-color);
    font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.16;
/* display: flex;
align-items: center; */
letter-spacing: 0.03em;
/* text-transform: uppercase; */
}
footer {
    background-color: var(--primary-text-color); 
color: var( --title-text-color);
height: 310px;
padding: 100px;

}

.footer-desk-block{
    width: 264px;
}

.foter-logo{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16; 
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--secondary-bg-color);
    display: block;
    margin-bottom: 16px;
}
.foter-logo  {
    font-family: 'Raleway';
    color: var(--link-color);
    font-weight: 800;
}
.futer-desk {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Roboto';
    color: var(--sibtitle-bg-color) ;
}
.logoname {
    color: var(--primary-white-color);
    text-decoration: none;
}

.logoweb {
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
 text-transform: uppercase; 
color: var(--link-color);
text-decoration: none;
}



.logorweb:hover,.foter-logo:hover, .logoname:focus, .foter-logo:focus {
    color: var(--link-color);
    }
   
    
   
   
   /* Portfolio */
   
   .portfolio-section{
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-list {
	margin-bottom: calc(-1 * var(--card-set-gap));
	margin-left: calc(-1 * var(--card-set-gap));
}

.portfolio-list > .item {
	flex-basis: calc(100% / 3 - 2 var(--card-set-gap));

	margin-bottom: var(--card-set-gap);
	margin-left: var(--card-set-gap);
}

  .filter-nav {
    justify-content: center;
    margin: auto;
    margin-bottom: 72px;
  }
    .filter-nav .filter-nav-btn + .filter-nav{
        margin-left: 24px;
    }
  .button-filter {
    background-color: var(--sibtitle-bg-color);
    border: 1px solid var(--sibtitle-bg-color);
    color: var(--link-color);
    font-family: ;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.04em;
        cursor: pointer;
        padding: 12px 24px;
        border-radius: 4px;
  }
  

.button-filter:hover,
.button-filter:focus {
    background-color: var(--link-color);
    color: var(--primary-white-color);
    border-top: none;
} 
.list-ready{
    padding: 32px 16px;
    border: 0,5px solid var(--secondary-bg-color);
}
.examples-title {
    color: var(--title-text-color);
    margin-bottom: 8;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: auto;
    
}



    